.container {
  display: block;
  position: relative;
  min-height: 1200px;
  background-color: silver;
}

.big_circle {
  display: block;
  position: absolute;
  height: 900px;
  width: 900px;
  margin-top: -330px;
  margin-left: -300px;
  z-index: 0;
  border-radius: 50%;
  background-color: green;
}

.red_triangle {
  display: block;
  position: absolute;
  margin: 0 auto;
  margin-left: 784px;
  height: 0;
  width: 0;
  border-left: 280px solid transparent;
  border-bottom: 280px solid red;
}

.blue_rectangle {
  display: block;
  position: absolute;
  margin-top: 420px;
  margin-left: 50px;
  width: 890px;
  height: 130px;
  background-color: darkblue;
  border-radius: 5px;
  z-index: 1;
  transform: rotate(45deg);
}

.small_circle {
  display: block;
  position: absolute;
  margin-top: 370px;
  margin-left: 580px;
  width: 260px;
  height: 260px;
  background-color: green;
  border-radius: 50%;
  z-index: 2;
}

.violet_rectangle {
  display: block;
  position: absolute;
  margin-left: 120px;
  margin-top: 750px;
  width: 820px;
  height: 200px;
  background-color: darkmagenta;
  border-radius: 70px;
  z-index: 3;
}
